.link {
	color: red;
}

a {
	display: block;
}

#sidenav {
	background-color: #E8E8E8;
	height: 9000px
}

h1 {
	color: #e80018;
	text-align: center;
}
h3 {
	color: #2b2d2f;
	text-align: left;
	}
	
h5 {
	color: #e80018;
	text-align: right;
}
p {
	color: black;
	text-align: left;
}

.waves-effect waves-light btn-large z-depth-5 {
	size: 200px
}